.card{
    /* border: 1px solid rgb(70, 66, 66); */
    width: 450px;
    /* height: 400px; */
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
    box-shadow: 2px 3px 9px -1px #000;
}

.foodblock{
    width: 90%;
    background: #6b8e23;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 3px 1px 9px -1px #3d581a;
    cursor: pointer;
}

.foodblock div{
    margin: 10px 2px;
}

.foodblock .div-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foodblock .dlt_btn{
    height: 25px;
    padding: 0px 5px;
}

.foodblock .cautious_txt{
    color: #950a0ae3;
}